/node_modules          # Dépendances JS (inutiles pour Laravel backend)
/vendor                # Sera régénéré par composer install
.env                   # Fichier avec vos mots de passe LOCAUX
.git                   # Historique git (très lourd et inutile)
storage/*.key          # Clés privées
.phpunit.result.cache  # Cache de tests
.git
.gitignore
