APP_NAME="Portfolio Wyatt Guemache"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://portfolio-8gij.onrender.com

LOG_CHANNEL=errorlog
LOG_LEVEL=error

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_STORE=file
