/vendor/
/node_modules/
/.env
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
!/storage/framework/cache/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
composer.lock
composer.phar
.DS_Store
Thumbs.db
*.swp
*.swo
*~
